/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%; /* Garantir que o body ocupe toda a altura da tela */
    overflow-x: hidden; /* Evitar rolagem horizontal */
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    margin-right: auto;
}

.menu {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.menu button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #777;
}

/* Conteúdo da página de contato */
.contact-content {
    text-align: center;
    margin: 120px auto 0; /* Ajuste da margem superior para compensar a navbar fixa */
    max-width: 800px;
    padding: 0 20px;
    flex-grow: 1; /* Isso faz o conteúdo ocupar o espaço restante */
}

.contact-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #444;
}

/* Formulário de contato */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-form button {
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

/* Ícones das redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.social-icons i {
    font-size: 30px;
    color: #333;
    transition: transform 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.2);
}

/* Rodapé */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}
